.menu {
  position: fixed;
  left: -320px;
  top: 0;
  background:
    -webkit-gradient(linear, left top, left bottom,
      from(#0099ae), color-stop(100%, #00bf82), color-stop(100%, #fff), to(#fff));
  background: linear-gradient(
      180deg
    , #0099ae, #00bf82 100%, #fff 0, #fff);
  width: 320px;
  height: 100vh;
  transition: left 1s;
}

.menu__wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  .menu__item {
    list-style-type: none;
    color: #fff;
    cursor: pointer;
    padding: 15px 60px;
  }
  .menu__item-active {
    opacity: 1;
    text-decoration: underline;
  }


}

.menu_active {
  left: 0;
}


