.game__cards-field {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: center;

  .h1 {
    width: 100%;
    text-align: center;
  }

  .btns-wrapper {
    display: none;
    .btn {
      width: 92px;
      height: 92px;
      border-radius: 50%;
      background: linear-gradient(180deg, #0099ae, #00bf82);
      border: none;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 23px;
    }
  }
}
.game__cards-field.game-mode .btns-wrapper {
  display: flex;
}

.btns-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px 20px 0;
}

.game-mode .card-header,
.game-mode .rotate {
  display: none;
}

.game-mode .card .card__back,
.game-mode .card .card__front {
  background-size: cover;
  background-position: 50%;
}

.rating {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.star {
  width: 34px;
  height: 34px;
}


.btn.repeat:after {
  content: url("../../assets/images/repeat.png");
  width: 30px;
  height: 30px;
}

.star.grey {
  background: url("../../assets/images/star_grey.png");
}

.star.yellow {
  background: url("../../assets/images/star.png");
}

@media screen and (min-width: 992px) {
  .game__cards-field .btns-wrapper {
    position: relative;
    top: -140px;
  }
}


