.game__cards-field {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  .h1 {
    width: 100%;
  }
}

.btns-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-mode .card-header,
.game-mode .rotate {
  display: none;
}

.game-mode .card .card__back,
.game-mode .card .card__front {
  background-size: cover;
  background-position: 50%;
}

.rating {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.star {
  width: 34px;
  height: 34px;
}

.star.grey {
  background: url("../../assets/images/star_grey.png");
}

.star.yellow {
  background: url("../../assets/images/star.png");
}


