.congratulations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.congratulations__smile {
  width: 100%;
  height: 430px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 40px 0;
  background-image: url("./../../assets/images/Big-Smile.png");

  &-sad {
    background-image: url("./../../assets/images/sad_smile.png");
  }
}
