.congratulations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.congratulations__smile,
.congratulations__smile-sad{
  height: 500px;
  width: 100%;
  max-width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 40px 0;
  background-image: url("./../../assets/images/Big-Smile.png");
}

.congratulations__smile-sad {
  background-image: url("./../../assets/images/sad_smile.png");
}
