.admin-words {
  margin-top: 100px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

  &__card {
    position: relative;
    width: 360px;
    border: 2px solid #C4C4C4;
    padding: 15px;
    font-size: 22px;
    border-radius: 5px;
  }

  &__item {
    margin: 30px 20px;
  }

  &__image {
    width: 100%;
  }

  &__btns {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 10px 0;
    .btn {
      width: 75%;
      height: 70px;
      font-size: 30px;
    }
  }

  .play-btn {
    width: 30px;
    height: 30px;
    position: relative;
    background-image: url("../../assets/icons/play-button.svg");
    background-size: contain;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
    background-repeat: no-repeat;
    top: 7px;
  }

  &__remove-bnt {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }

  &__remove-bnt:hover {
    opacity: 1;
  }

  &__remove-bnt:before, &__remove-bnt:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }

  &__remove-bnt:before {
    transform: rotate(45deg);
  }

  &__remove-bnt:after {
    transform: rotate(-45deg);
  }

  &__name,
  &__image-wrap {
    margin: 0 20px;
  }

  &__name-input,
  &__translation-input {
    margin: 0 20px 30px 20px;
    width: 88%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 22px
  }

  &__translation-input:focus-visible,
  &__name-input:focus-visible {
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
  }

  &__file-wrap{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
  }

  &__file-src {
    font-size: 17px;
    margin: 20px 20px 20px 20px;
  }

  .error {
    width: 80%;
    color: red;
    font-size: 17px;
  }
}
