.menu-btn {
  z-index: 20;
  width: 45px;
  height: 25px;
}

.menu-activate {
  cursor: pointer;
  z-index: 20;

  &__line-1,
  &__line-2,
  &__line-3 {
    width: 45px;
    height: 5px;
    background-color: #E5E5E5;
    margin: 5px 0;
    transition: 0.3s;
  }

  .active &__line-1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .active &__line-3 {
    transform: rotate(45deg) translate(-8px, -6px);
  }

  .active &__line-2 {opacity: 0;}
}

.active  .menu-activate{
  position: fixed;
}
